---
const options = [];
for(let i = 1; i <= 31; i++){
    options.push(i);
}

const months = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic'];

const years = [];
for(let i = 2024; i >= 1905; i--){;
    years.push(i)
}

---

<div id='sign-form' class="fixed inset-0 flex items-center justify-center bg-[rgb(252,253,252)] bg-opacity-80 opacity-0 pointer-events-none">
    <div class="bg-[#ffffff] -mb-[60px] ml-[1px] -mr-5 h-auto w-[430px] rounded-lg shadow-xl">
        <div class="pl-3 pt-3">
            <h1 class="text-3xl tracking-wide font-bold">Registrarte</h1>
            <p class="text-zinc-500 pb-2">Es rápido y fácil.</p>
        </div>
        <div class="flex -mt-14">
            <div class="flex-grow"></div>
            <img src="/cross.svg" alt="" class="w-4 mr-5 cursor-pointer" id="close-form">
        </div>
        <div class="bg-[#dcdee3] w-full h-[1px] mt-10"></div>
        <div class="mx-4 my-3">
            <div class="flex flex-row gap-x-4">
                <input type="text" autocomplete="off" name="" id="name" placeholder="Nombre" class="border border-[#dadee0] rounded-md bg-[#f5f6f7] placeholder:text-[#99a0aa] py-2 px-2 w-[195px]">
                <img src="/warning.svg" alt="" class="w-6 -ml-11 opacity-0 image-warning">
                <input type="text" autocomplete="off" name="" id="last-name" placeholder="Apellido" class="border border-[#dadee0] rounded-md bg-[#f5f6f7] placeholder:text-[#99a0aa] py-2 px-2 w-[195px]">
                <img src="/warning.svg" alt="" class="w-6 -ml-11 opacity-0 image-warning">
            </div>
            <div class="flex flex-row">
                <input type="text" autocomplete="off" name="" id="number" placeholder="Número de celular o correo electrónico" class="border border-[#dadee0] rounded-md bg-[#f5f6f7] placeholder:text-[#99a0aa] py-2 px-2 w-[402px] mt-3">
                <img src="/warning.svg" alt="" class="w-6 -ml-7 mt-[11px] opacity-0 image-warning">
            </div>
            <div class="flex flex-row">
                <input type="password" autocomplete="off" name="" id="passwordInput" class="border border-[#dadee0] rounded-md bg-[#f5f6f7] placeholder:text-[#99a0aa] py-2 px-2 w-[402px] mt-3" placeholder="Contraseña nueva">
                <img src="/warning.svg" alt="" class="w-6 -ml-7 mt-[11px] opacity-0 image-warning">
            </div>
        </div>
        <div class="pl-3 pt-1 flex flex-row">
            <p class="text-[13px] text-[#788796]">
                Fecha de nacimiento
            </p>
            <img src="/help.svg" alt="" class="w-4 ml-1">
        </div>
        <div class="flex justify-center items-center gap-x-4 mt-2">
            <select class="bg-transparent border border-[#dadee0] w-[120px] rounded-md py-2">
                {
                    options.map(option =>{
                        return <option value={option}>{option}</option>
                    })
                }
            </select>
            <select name="" id="" class="bg-transparent border border-[#dadee0] w-[120px] rounded-md py-2">
            {
                    months.map(month =>{
                        return <option value={month}>{month}</option>
                    })
                }
            </select>
            <select name="" id="" class="bg-transparent border border-[#dadee0] w-[120px] rounded-md py-2">
                {
                    years.map(year =>{
                        return <option value={year}>{year}</option>
                    })
                }
            </select>
        </div>
        <div class="pl-3 pt-4 flex flex-row">
            <p class="text-[13px] text-[#788796]">
                Sexo
            </p>
            <img src="/help.svg" alt="" class="w-4 ml-1">
        </div>
        <div class="flex items-center justify-center gap-x-4 mt-1">
            <div class="border border-[#dadee0] flex w-auto px-2 py-2 gap-x-10 rounded-md">
                <label for="">Mujer</label><input type="radio" name="" id="" value="mujer">
            </div>
            <div class="border border-[#dadee0] flex w-auto px-2 py-2 gap-x-4 rounded-md">
                <label for="">Hombre</label><input type="radio" name="" id="" value="hombre">
            </div>
            <div class="border border-[#dadee0] flex w-auto px-2 py-2 gap-x-4 rounded-md">
                <label for="">Personalizado</label><input type="radio" name="" id="" value="personalizado">
            </div>
        </div>
        <div class="flex-wrap pl-5 pr-8 mt-3">
            <p class="text-[11px] text-zinc-500">
                Es posible que las personas que usan nuestro servicio hayan subido tu información de contacto a Facebook. <a href="" class="text-blue-800 hover:underline">Obtén más información.</a>
            </p>
        </div>
        <div class="flex-wrap pl-5 pr-10 mt-2">
            <p class="text-[11px] text-zinc-500">
                Al hacer clic en "Registrarte", aceptas nuestras <a href="" class="text-blue-800 hover:underline">Condiciones</a>, la <a href="" class="text-blue-800 hover:underline">Política de privacidad</a> y la <a href="" class="text-blue-800 hover:underline">Política de cookies</a>. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.
            </p>
        </div>
        <div class="flex items-center justify-center my-5">
            <button class="bg-[#01a500] hover:bg-[#2eac2e] transition-all duration-200 font-bold text-center text-white px-10 py-1 rounded-md text-xl">Registrarte</button>
        </div>
    </div>
</div>

<script src="../js/form.js"></script>